--extra-index-url https://pypi.nvidia.com
accelerate
build
colored
diffusers
lark
mpi4py
numpy
onnx>=1.12.0
polygraphy
psutil
pynvml>=11.5.0
pulp
pandas
h5py
sentencepiece>=0.1.99
tensorrt==9.3.0.post12.dev1
wheel
optimum
evaluate
janus
